html {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  &,
  body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Circular", "Helvetica", "Arial", sans-serif;
    font-weight: 400 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fbfbfb;

    #app {
      min-height: 90vh;
      @media (min-width: 576px) {
        min-width: 580px;
      }
    }
  }
}
